* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.header {
  font-family: Meiryo;
}

.header {
  width: 100%;
  height: 121px;
  border-bottom: solid 1px #707070;
  font-size: 16px;
  text-align: right;
  background-color: #ffffff;
}

.logo {
  float: left;
  height: 76.67px;
  margin-top: 16.6px;
}

.header li {
  display: inline-block;
  margin-top: 66px;
  padding-right: 19px;
}
.header a {
  color: #707070;
}

.contact p {
  z-index: 90000;
  font-size: 17px;
  background-color: #0071b2;
  padding: 12.5px 35px;
  border-radius: 30px;
  text-align: center;
  width: 208px;
  opacity: 1;
}
.contact a {
  color: #ffffff;
}
.contact {
  position: fixed;
  bottom: 50px;
  left: calc(50% - 180px / 2);
}
body {
  width: 100%;
  padding-top: 121px;
}

.logo2 {
  vertical-align: middle;
  margin-bottom: 70px;
}

footer {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
  border-top: solid 1px #707070;
}

.footer-link {
  display: inline-block;
  text-align: center;
}
.flex a {
  font-size: 16px;
  color: #707070 !important;
}

.footer-company {
  font-size: 16px;
  color: #707070 !important;
  margin: 90px 0 100px 0;
}
.main {
  color: #707070;
}
.main-img {
  width: 1280px;
  text-align: center;
  margin: 0 auto;
}
.news-article-img {
  height: 129px;
  border: 0;
  margin: 15px;
}

.news-cards {
  border: solid 1px #707070;
}

.news-block {
  padding: 10px;
  border-top: double 3px #707070; /* 二重線の上の線になる一本線をひく */
  margin-bottom: 2px; /* 二重線の下の線の位置を確保する */
  position: relative; /* 外側の線の位置を調整する時の基準点になるようにする    */
}

.news-blocks {
  margin: 50px 0 0 0;
}

.next-back-btn {
  text-align: center;
  display: inline-block;
  margin: 107px auto 180px auto;
}

.next-back-btn p {
  display: inline-block;
  font-size: 40px;
  background-color: #0071b2;
  padding: 6.5px 35px;
  border-radius: 40px;
  text-align: center;
  width: 220px;
  height: 70px;
}

.next-back-btn a {
  color: white;
  padding-bottom: 5px;
}
.back-btn {
  margin-right: 45px;
}

.next-btn {
  margin-left: 45px;
}

.col-lg-12 img {
  padding: 0;
}

.maxWidth {
  max-width: 1280px;
  padding: 0;
}

.news-serch {
  border: solid 1px #707070;
  width: 345px;
}

.news-serch p {
  border-bottom: solid 1px #707070;
  width: 294px;
  display: inline-block;
  padding: 20px 0px 4px 0px;
  margin: 0 20px;
  font-size: 19px;
}

.news-serch p:last-child {
  border: none;
}

.text{
  text-align: center;
}
