* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.header {
  font-family: Meiryo;
}

.header {
  width: 100%;
  height: 121px;
  border-bottom: solid 1px #707070;
  font-size: 16px;
  text-align: right;
  background-color: #ffffff;
}

.logo {
  float: left;
  height: 76.67px;
  margin-top: 16.6px;
}

.header li {
  display: inline-block;
  margin-top: 66px;
  padding-right: 19px;
}
.header a {
  color: #707070;
}

.contact p {
  font-size: 17px;
  background-color: #0071b2;
  padding: 12.5px 35px;
  border-radius: 30px;
  text-align: center;
  width: 208px;
}
.contact a {
  color: #ffffff;
}
.contact {
  position: fixed;
  bottom: 50px;
  left: calc(50% - 180px / 2);
}
body {
  width: 100%;
  padding-top: 121px;
}

.main {
  width: 1024px;
  margin: 0 auto;
  color: #707070;
}

.concept {
  color: #000000;
  height: 883px;
}

.concept {
  padding-top: 161px;
  padding-left: 63px;
}
.concept h1 {
  font-size: 53px;
  line-height: 1.2;
}
.concept h3 {
  font-size: 34px;
  margin-bottom: 180px;
}

.movie {
  height: 500px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex > div {
}

.services {
  margin: 0 85px;
}

.services-title {
  font-size: 29px;
  display: inline-block;
}
.services span {
  font-size: 15px;
}

.services-text {
  font-size: 17px;
}

.service {
  border: solid 1px #707070;
}

.service-image1 {
  display: inline-block;
  width: 421px;
  height: 360px;
  background-image: url(img/service1.png);
  background-size: cover;
}

.service-text h3 {
  font-size: 20px;
}

.service-text p {
  font-size: 17px;
}

.service-image2 {
  display: inline-block;
  width: 419px;
  height: 360px;
  background-image: url(img/service1.png);
}

.service-text2 {
}

.development-cases {
  margin: 119px 60px 0 60px;
}

.development-case {
  margin-top: 57px;
}

.development-case {
  width: 214px;
  height: 478px;
  border: solid 1px #707070;
}

.development-case-image {
  width: 192px;
  height: 181px;
  border: solid 1px #707070;
  margin: 10px;
}

.development-case-text h3 {
  font-size: 24px;
  margin: 0 10px;
}

.development-case-text p {
  font-size: 16px;
  margin: 0 10px;
}

.news {
  margin: 119px 60px 90px 60px;
  padding-bottom: 50px;
  border-bottom: solid 1px #707070;
}

.news a {
  color: #707070;
}

.news_boxes p:nth-child(even) {
  background-color: #fff;
  padding: 10px;
}

.news_boxes p:nth-child(odd) {
  background-color: #e7e7e7;
  padding: 10px;
}

.news_boxes {
  margin-top: 50px;
}

.news-index p {
  font-size: 17px;
  background-color: #0071b2;
  padding: 12.5px 35px;
  border-radius: 30px;
  text-align: center;
  width: 346px;
  margin: 50px auto 0 auto;
}

.news-index a {
  color: white;
}

.logo2 {
  vertical-align: middle;
  margin-bottom: 70px;
}

footer {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

.footer-link {
  display: inline-block;
  text-align: center;
}
.flex a {
  font-size: 16px;
  color: #707070 !important;
}

.footer-company {
  font-size: 16px;
  color: #707070 !important;
  margin: 90px 0 100px 0;
}
