* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

html {
  width: 1280px;
  margin: 0 auto;
}

.header {
  font-family: Meiryo;
}

.header {
  width: 100%;
  height: 121px;
  border-bottom: solid 1px #707070;
  font-size: 16px;
  text-align: right;
  background-color: #ffffff;
}

.logo {
  float: left;
  height: 76.67px;
  margin-top: 16.6px;
}

.header li {
  display: inline-block;
  margin-top: 66px;
  padding-right: 19px;
}
.header a {
  color: #707070;
}

.contact p {
  font-size: 17px;
  background-color: #0071b2;
  padding: 12.5px 35px;
  border-radius: 30px;
  text-align: center;
  width: 208px;
}
.contact a {
  color: #ffffff;
}
.contact {
  position: fixed;
  bottom: 50px;
  left: calc(50% - 180px / 2);
}
body {
  width: 100%;
  padding-top: 121px;
}

.main {
  width: 1280px;
  margin: 0 auto;
  color: #707070;
}

.en-concept {
  height: 580px;
  margin: 0 auto;
  padding-top: 236px;
  color: black;
  text-align: center;
}
.en-concept h1 {
  font-size: 55px;
}

.en-concept p {
  font-size: 42px;
}

.concept {
  color: #000000;
  height: 532px;
  padding: 158px auto 0 auto;
}

.concept p {
  font-size: 40px;
  margin: 0 auto;
  padding-bottom: 93px;
  text-align: center;
}
.concept h1 {
  font-size: 53px;
  line-height: 1.2;
  margin-bottom: 55px;
  text-align: center;
}

.our-philosophy {
  font-size: 40px;
  padding: 11px 60px;
  border-radius: 40px;
  text-align: center;
  width: 470px;
  border: solid 1px #707070;
  height: 75px;
  margin: 0 auto 230px auto;
}

.our-philosophy p {
  margin: 0;
}

.our-philosophy a {
  color: black;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex > div {
}

.services {
  margin: 0 65px;
}

.services-title {
  font-size: 40px;
  display: inline-block;
}
.services span {
  font-size: 20px;
}

.services-text {
  font-size: 23px;
}

.service {
  border: solid 1px #707070;
}

.service-image1 {
  display: inline-block;
  width: 566px;
  height: 451px;
  background-image: url(img/service1.png);
  background-size: cover;
}

.service-text h3 {
  font-size: 26px;
}

.service-text p {
  font-size: 23px;
}

.service-image2 {
  display: inline-block;
  width: 566px;
  height: 451px;
  background-image: url(img/service1.png);
}

.service-text2 {
}

.development-cases {
  margin: 119px 65px 0 65px;
}

.development-case {
  margin-top: 66px;
}

.development-case {
  width: 274px;
  height: 585px;
  border: solid 1px #707070;
}

.development-case-image {
  width: 246px;
  height: 222px;
  border: solid 1px #707070;
  margin: 10px;
}

.development-case-text h3 {
  font-size: 30px;
  margin: 0 10px;
}

.development-case-text p {
  font-size: 20px;
  margin: 0 10px;
}

.news {
  margin: 119px 60px 90px 60px;
  padding-bottom: 50px;
  border-bottom: solid 1px #707070;
}

.news span {
  font-size: 20px;
}

.news a {
  color: #707070;
}

.news_box {
  height: 86px;
  margin: 0;
}

.news_boxes p:nth-child(even) {
  background-color: #fff;
  padding: 10px;
}

.news_boxes p:nth-child(odd) {
  background-color: #e7e7e7;
  padding: 10px;
}

.news_boxes {
  margin-top: 50px;
}

.news-index p {
  font-size: 27px;
  background-color: #0071b2;
  padding: 12.5px 35px;
  border-radius: 30px;
  text-align: center;
  width: 443px;
  margin: 50px auto 0 auto;
}

.news-index a {
  color: white;
}

.logo2 {
  width: 193px;
  vertical-align: middle;
  margin-bottom: 70px;
}

footer {
  text-align: center;
  margin: 0 auto;
}

.footer-link {
  display: inline-block;
  text-align: center;
}
.flex a {
  font-size: 20px;
  color: #707070 !important;
}

.footer-company {
  font-size: 19px;
  color: #707070 !important;
  margin: 90px 0 100px 0;
}

.main {
  width: 1024px;
  margin: 0 auto 70px auto;
}

.campany-info {
  width: 1024px;
  height: 285px;
  background-image: url(img/campany-info.png);
  outline: 0 px;
}

.flex {
  display: flex;
  justify-content: space-between;
  width: 867px;
  margin: 70px auto 100px auto;
}

.flex > div {
}

.content {
  border: solid 1px #707070;
}

.vision-image {
  display: inline-block;
  width: 427px;
  height: 366px;
  background-image: url(img/vision.png);
  background-size: cover;
}

.content h3 {
  font-size: 19px;
  margin: 10px;
}

.content p {
  font-size: 17px;
  margin: 10px;
}

.greeting-image {
  display: inline-block;
  width: 427px;
  height: 366px;
  background-image: url(img/greeting.png);
  background-size: cover;
}

.history {
  text-align: center;
  margin: 0 auto;
}

.history h2 {
  font-size: 40px;
  display: inline-block;
  width: 185px;
  border-bottom: solid;
  border-width: 1px;
  padding-bottom: 25px;
}

table {
  font-size: 17px;
  margin: 0 auto 130px auto;
  text-align: left;
}
tr {
  border-bottom: solid 1px #707070;
}
.left {
  padding-left: 90px;
  line-height: 30px;
  padding: 30px 0 30px 90px;
}

.right {
  line-height: 30px;
  padding: 30px 256px 30px 100px;
}
