body{
    margin:0;
}
.btn-header{
    float: left;
    margin-left:628px;
    margin-right:16px;
    margin-top:20px;
}

.contact-header{
    font-family: MS PGothic;
    display:block;
    width:430px;
    height:86px;
    font-size:30px;
    color: black;
    text-align:center;
    line-height:86px;
    background:#A3D8EC;
    border-radius:30px;
    border: 2.8px solid #1137B7;
    box-shadow:0 3px 8px #000000;
    cursor: pointer; 
    padding:0;
    position:fixed;
    z-index: 100;
}

.contact-header a {
    text-decoration:none;
    color: #ffffff;
}

.contact-header:hover{
    opacity: .8;
    transform: scale(1.1, 1.1);
}

.logo-header{
    float: left;
    margin-top:0px;
    margin-left:1074px;
}

.logo-img {
    display:block;
    width:64px;
    height:62px;
}
.title-header{
    display:block;
    width:51px;
    height:11px;
    margin: 7px auto;
}

.img-header{
 margin-top:73px;  
 margin-left:19px;
 margin-right:18px;
 width:1113px;
 height:430px;
}

.title01{
    margin-top:181px;
    margin-left:145px;
}

.title01 pre{
    font-size:55px;
    font-weight: normal;
    font-family:MS PGothic;
    border-left: 10px solid #3498db;
    height:80px;
    margin:0;
}

.text-title01{
    display:block;
    margin-top:56px;
}

.video-title01{
    position: relative;
    display:block;
    margin-top:107px;
}

.video-description {
    z-index: 10;
    position: absolute;
    top:248px;
    left:300px;
    margin:0;
    font-size:65px;
}

.description01-title01{
    font-size:30px;
    font:#1E1E1E;
    font-family:MS PGothic;
    line-height:36px;
    text-align: center;
    text-shadow: 0px 1px 3px #000000;
}

.title02{
    margin-top:181px;
    margin-left:194px;
}

.title02 pre{
    font-size:55px;
    font-weight: normal;
    font-family:MS PGothic;
    border-left: 10px solid #3498db;
    height:80px;
    margin:0;
}

.img-title02{
 margin-top:50px;
 margin-left:56px;
}

.title03{
    margin-top:91px;
    margin-left:141px;
}

.title03 pre{
    font-size:55px;
    font-weight: normal;
    font-family:MS PGothic;
    border-left: 10px solid #3498db;
    height:80px;
    margin:0;
}

.img-title03{
    margin-top:146px;
    margin-left:100px;
   }

.nepal-title03{
    margin-top:100px;
    margin-left:220px;
} 

.nepal-title03 p {
    font-size:60px;
    text-align: center;
    margin:0;
}

.nepal-title03 span{
 color:#9A223A;
}

.bracket-title03{
    display:block;
    margin-left:600px;
}

.img02-title03{
    margin-top:100px;
    margin-left:92px;
}

.nepal-description{
    margin-top:70px;
    margin-left:50px;
}

.nepal-description02{
    margin-left:100px;
}

.nepal-description02 span{
    margin-left:40px;
}

.nepal{
 float: left;
 width:708px;
}

.bracket-nepal{
    margin-left:458px;
}

.img-title03{
    float: left;
    margin-top:260px;
    position: relative;
}
.img-title03 p{
    position: absolute;
    top:150px;
    left:120px;
    font-size:40px;
}

.title04{
    clear:left;
    padding-top:216px;
    margin-left:143px;
}

.title04 pre{
    font-size:55px;
    font-weight: normal;
    font-family:MS PGothic;
    border-left: 10px solid #3498db;
    height:80px;
    margin:0;
}

.img-title04{
    margin-top:50px;
    margin-left:173px;
}

.title05{
    margin-top:80px;
    margin-left:143px;
}

.title05 pre{
    font-size:55px;
    font-weight: normal;
    font-family:MS PGothic;
    border-left: 10px solid #3498db;
    height:80px;
    margin:0;
}

.img-title05{
    margin-top:50px;
    margin-left:100px;
}

.language-title05{
    font-size:35px;
    margin-top:72px;
    margin-left:150px;
}

.img-language{
    margin-left:220px;
}

.title06{
    margin-top:80px;
    margin-left:143px;
}

.title06 pre{
    font-size:55px;
    font-weight: normal;
    font-family:MS PGothic;
    border-left: 10px solid #3498db;
    height:80px;
    margin:0;
}

.img-title06{
    margin-top:50px;
    margin-left:100px;
}

.title07{
    margin-top:80px;
    margin-left:143px;
}

.title07 pre{
    font-size:55px;
    font-weight: normal;
    font-family:MS PGothic;
    border-left: 10px solid #3498db;
    height:80px;
    margin:0;
}

.img-title07 {
    margin-top:60px;
    margin-left:190px;
}

.title08{
    margin-top:80px;
    margin-left:143px;
}

.title08 pre{
    font-size:55px;
    font-weight: normal;
    font-family:MS PGothic;
    border-left: 10px solid #3498db;
    height:80px;
    margin:0;
}

.contact-title08{
    margin-left:156px;
    margin-right:156px;
    margin-top:50px;
}

.contact-title08 p{
    margin-top:20px;
    margin-bottom: 0;
}

.contact-title08 span{
    color:red;
}

.name{
    float:left;
    width:50%;
}

.name input{
    width:350px;
    height:25px;
}


.company-name{
    float:left;
    width:50%;
}

.company-name input{
    width:350px;
    height:25px;
}

.position{
    display:block;
    clear:left;
}

.position p{
    padding-top:30px;
}

.position input{
    width:350px;
    height:25px;
}

.mail-address {
    padding-top:20px;
}

.mail-address input{
    width:775px;
    height:25px;
}

.phonenumber input{
    width:775px;
    height:25px;
}

.message-form textarea{
    width:775px;
    height:225px;
}

footer{
    margin-top:130px;
    padding:0 auto;
}

footer img{
    display: block;
    margin:0 auto;
}


@media screen and (max-width: 350px) {

.video-description {
    font-size:65px;
    width:300px;
}

.description01-title01 {
    width:906px;
    margin-top:50px;
    margin-left:90px;
    margin-right:40px;
    font-size:28px;
}

.nepal-title03{
    width:901px;
    margin-left:150px;
}

.nepal-description02{
    margin-left:0;
}

.nepal{
  float: left;
  width:650px;
}

.bracket-nepal{
    margin-left:400px;
}

.img-title03 {
    margin-left:56px;
    float: left;
}

.language-title05{
    width:901px;
}

.contact-title08{
    width:901px;
}

footer{
    width:901px;
}

footer img{
    display: block;
    margin-left:120px;
    width:901px;
}

}