.logo{
    width:130px;
    height:111px;
    /* margin-top:28px;
    margin-left:19px; */
    position: absolute;
    top:28px;
    left:19px;
}

.header h1 {
    color:#4E4D4E;
    font-weight: bold;
    font-size:70px;
    text-shadow: 0px 3px 3px #04289F;
    /* margin-left:54.5px;
    margin-top:95.5px; */
    position: absolute;
    top:234.5px;
    left:54.5px;
    margin:0;
}

.header pre{
    color:#000000;
    font-size:55px;
    text-align: right;
    position: absolute;
    top:287.5px;
    left:1064px;
    margin:0;
}

.logo02{
    width:895px;
    height:244px;
    /* margin-left:132px; */
    position: absolute;
    top:414.2px;
    left:132px;
}

.message{
    color:#141313;
    font-size:40px;
    float:left;
    margin-left:70px;
    position: absolute;
    top:712px;
}

.message pre{
    margin-top:0;
}

.btn{
    float:right;
    margin-right:111px;
    margin-top:-100px;

}

.inquery{
    width:543px;
    height:146px;
  font-size:40px;
  color: black;
  text-align:center;
  display:block;
  padding:45px 112px 41px 111px;;
  background:rgb(136, 208, 241);
  border-radius: 80px;
  border-color:blue;
  box-shadow:0 3px 6px #707070;
  margin-bottom:55px;
  position: absolute;
  top:558px;
  right:111px;
}

.request{
 width:543px;
 height:146px;
  font-size:38px;
  color: black;
  text-align:center;
  display:block;
  padding:45px 112px 41px 111px;
  background-color: white;
  border-radius: 80px;
  box-shadow:0 3px 6px #707070;
  position: absolute;
  top:736px;
  right:111px;
}

.bracket01{
    width:236px;
    height:247px;
    position: absolute;
    top:1193.5px;
    left:164.9px;
    margin:0;
}

.bracket02{
    width:236px;
    height:247px;
    position: absolute;
    top:1328.8px;
    right:150.1px;
}

.text{
    font-family: BIZ UDPGothic;
    font-size:50px;
    position: absolute;
    top:1369.5px;
    left:254.5px;
    line-height: 48px;
}

.text span{
    color:#CE2E4E;
    
}

.nepal{
    position: absolute;
    width:578px;
    height:217px;
    top:1766.5px;
    left:28.5px;
}

.nepal h1{
    font-family:HGPMinchoE;
    font-size:125px;
    font-weight:normal;
    text-align:center;
    color:#210C10;
    border: 2px 0px 0px #03050A;
    text-shadow: 0px 3px 6px #CE2E4E;
    margin:0;
}

.kathmandu{
    position: absolute;
    width:413px;
    height:110px;
    top:1921.5px;
    left:274.5px;
}

.kathmandu h2{
    font-family:HGPMinchoE;
    font-size:75px;
    font-weight:normal;
    text-align:center;
    color:#210C10;
    border: 2px 0px 0px #091326;
    text-shadow: 0px 3px 4px #CE2E4E;
    margin:0;
}

.nepal-lab{
    position: absolute;
    width:660px;
    height:107px;
    top:2064px;
    left:783px;
    font-family:MS PGothic;
    font-size:40px;
    color:#1B0B0F;
    text-shadow:0px 3px 6px #000000;
}

.nepal-lab p{
    margin:0px;
}

.nepal-info{
    position: absolute;
    top:2147px;
    left:661px;
    width:846px;
    height:339px;
    font-size:35px;
    font-family:MS PGothic;
    color:#1B0B0F;
    text-shadow:0px 3px 3px #000000;
    line-height:42px;
}

.nepal-info pre{
    margin:0;
    text-align:center;
}

.japan{ 
    width:398px;
    height:132px;
}

.japan p{
    position: absolute;
    top:2210.5px;
    right:216.5px;
    font-size:115px;
    margin:0;
    color:#1B0B0F;
    text-shadow:0px 3px 6px #000000;
    text-align:center;
}

.india p{
    position: absolute;
    top:2421.5px;
    left:274.5px;
    width:310px;
    height:93px;
   font-family: HGGothicM;
   font-size:55px;
   color:#1B0B0F;
   text-align: center;
   margin:0px;
}

.geo-india{
    position: absolute;
    top:2348px;
    left:128.8px;
    width:639.41px;
    height:299.01px;
}

.hokkaido{
    position: absolute;
    top:1858.4px;
    left:1559px;
    width:199.65px;
    height:157.37px;
}

.honshu{
    position: absolute;
    top:2081.5px;
    left:1471px;
    width:285.44px;
    height:300.02px;
}

.shikoku{
    position: absolute;
    top:2364.4px;
    left:1557.3px;
    width:113.74px;
    height:76.32px;
}

.kyusyu{
    position: absolute;
    top:2381.5px;
    left:1426.4px;
    width:92.14px;
    height:191.26px;
}

.bracket03{
    width:483.59px;
    height:108.5px;
    position: absolute;
    top:2938.5px;
    left:78.4px;
    margin:0;
}

.description{
    position: absolute;
    top:3004.5px;
    left:78.5px;
    width:1002px;
    height:1135px;
    font-size:35px;
    line-height:55px;
}

.description span{
    color:#CE2E4E;
    
}

.bracket04{
    width:393.63px;
    height:102.35px;
    position: absolute;
    top:4037.4px;
    left:686.9px;
    margin:0;
}

.title01{
    position: absolute;
    top:4446px;
    left:241px;
    width:1523px;
    height:301px;
    margin:0;
}

.title01 pre{
    font-size:100px;
    line-height:120px;
    font-family:HGPGothicM;
    border-left: 20px solid #3498db;
    height:250px;
    margin:0;
}

.table{
    position:absolute;
    top:4828px;
    font-size:35px;
}

.table th{
    border-left:1px solid black;
    font-size:27px;
}

.table th:last-child{
    border-right:1px solid black;
}

.kwave {
    background-color: #9cc6e2;
    opacity:0.8;
  }

.row1{
    position:absolute;
    top:50px;
    left:576px;
    display:flex;
    
}

.row1 th{
    font-size:40px;
    font-weight: normal;
    padding:0;
    width:382px;
    height:181px;
    border-top:1px solid black;
}

.row2 {
    position:absolute;
    top:232px;
    left:295px;
    display: flex;
    border-top:solid 1px black;
    border-bottom:solid 1px black;
}

.row2 .jinzai{
    font-size:45px;
    font-weight: normal;
    width:280px;
    padding-top:0px
}

.row2 th{
    padding:0;
    width:382px;
    height:181px;
}

.row4{
    position:absolute;
    top:413px;
    left:295px;
    display: flex;
    border-bottom:solid 1px black;
}

.row4 .hiyou{
    font-size:45px;
    font-weight: normal;
    width:280px;
    padding-top:0px
}

.row4 th{
    padding:0;
    width:382px;
    height:181px;
}

.row5{
    position:absolute;
    top:594px;
    left:295px;
    display: flex;
    border-bottom:solid 1px black;
}

.row5 .irai{
    font-size:45px;
    font-weight: normal;
    width:280px;
    padding-top:0px
}

.row5 th{
    padding:0;
    width:382px;
    height:181px;
}

.row6{
    position:absolute;
    top:775px;
    left:295px;
    display: flex;
    border-bottom:solid 1px black;
}

.row6 .speed{
    font-size:45px;
    font-weight: normal;
    width:280px;
    padding-top:0px
}

.row6 th{
    padding:0;
    width:382px;
    height:181px;
}

.row7{
    position:absolute;
    top:956px;
    left:295px;
    display: flex;
    border-bottom:solid 1px black;
}

.row7 .quality{
    font-size:45px;
    font-weight: normal;
    width:280px;
    padding-top:0px
}

.row7 th{
    padding:0;
    width:382px;
    height:181px;
}

.row8{
    position:absolute;
    top:1137px;
    left:295px;
    display: flex;
    border-bottom:solid 1px black;
    width:1430px;
}

.row8 .kaihatsu{
    font-size:45px;
    font-weight: normal;
    width:280px;
    padding-top:0px
}

.row8 th{
    padding:0;
    width:382px;
    height:181px;
    line-height:100px;
}

.title02{
    position: absolute;
    top:6422px;
    left:199px;
    width:1523px;
    height:301px;
    margin:0;
}

.title02 pre{
    font-size:100px;
    line-height:120px;
    font-family:HGPGothicM;
    border-left: 20px solid #3498db;
    height:250px;
    margin:0;
}

.video{
    position: absolute;
    top:6824px;
    left:186px;
    width:1589px;
    height:843px;
    background-color:#707070;
    font-size:70px;
    text-align: center;
}

.description02{
    font-family:Meiryo;
    text-align:center;
    position: absolute;
    top:7983px;
    left:186px;
    width:1602px;
    height:492px;
    font-size:45px;
    line-height:54px
}

.title03{
    position: absolute;
    top:8708px;
    left:217px;
    width:1523px;
    height:301px;
    margin:0;
}

.title03 p{
    font-size:100px;
    font-family:HGPGothicM;
    border-left: 20px solid #3498db;
    height:160px;
    margin:0;
}

.description03{
    text-shadow: 0px 3px 6px #000000;
    font-family:Meiryo;
    text-align:center;
    position: absolute;
    top:9058px;
    right:83px;
    width:921px;
    height:718px;
    font-size:40px;
    line-height:48px
}

.photo01{
    position: absolute;
    top:8908px;
    left:90px;
    width:769px;
    height:508px;
}

.photo02{
    position: absolute;
    top:9416px;
    left:364px;
    width:563px;
    height:373px;
}

.language{
    position: absolute;
    top:9943px;
    left:171px;
    width:745px;
    height:155px;
}


.language h1{
    font-size:50px;
    text-align: center;
    margin:0;
}

.web-app{
    position: absolute;
    top:10078.5px;
    left:737.5px;
    width:527px;
    color:#181717;
    text-shadow: 0px 3px 6px #000000;
}

.web-app h2{
    text-align: center;
    margin:0;
    font-size:40px;
}
    
.app01{
    position: absolute;
    top:10156px;
    left:434px;
    width:1134px;
    height:122px;
}

.mobile-app{
    position: absolute;
    top:10342.5px;
    left:737.5px;
    width:527px;
    text-align: center;
    color:#181717;
    text-shadow: 0px 3px 6px #000000;
}

.mobile-app h2{
    margin:0;
    font-size:40px;
}
    
.app02{
    position: absolute;
    top:10431px;
    left:536px;
    width:931px;
    height:127px;
}

.machine{
    position: absolute;
    top:10669.5px;
    left:739.5px;
    width:527px;
    text-align: center;
    color:#181717;
    text-shadow: 0px 3px 6px #000000;
}

.machine h2{
    margin:0;
    font-size:40px;
}
    
.app03{
    position: absolute;
    top:10743px;
    left:740px;
    width:525px;
    height:113px;
}

.big-data{
    position: absolute;
    top:10969.5px;
    left:737.5px;
    width:527px;
    text-align: center;
    color:#181717;
    text-shadow: 0px 3px 6px #000000;
}

.big-data h2{
    margin:0;
    font-size:40px;
    color:#181717;
}
    
.app04{
    position: absolute;
    top:11031px;
    left:393px;
    width:1217px;
    height:140px;
}

.cloud{
    position: absolute;
    top:11285.5px;
    left:737.5px;
    width:527px;
    text-align: center;
    color:#181717;
    text-shadow: 0px 3px 6px #000000;
}

.cloud h2{
    margin:0;
    font-size:40px;
    color:#181717;
}
    
.app05{
    position: absolute;
    top:11363px;
    left:708px;
    width:587px;
    height:115px;
}

.title04{
    position: absolute;
    top:11816px;
    left:237px;
    width:1523px;
    height:155px;
}


.title04 p{
    font-size:100px;
    text-align: center;
    margin:0;
    font-family:HGPGothicM;
    border-left: 20px solid #3498db;
}

.japan02{ 
    width:398px;
    height:132px;
}

.japan02 p{
    position: absolute;
    top:12172.5px;
    left:262.5px;
    font-size:125px;
    margin:0;
    color:#1B0B0F;
    text-shadow:0px 3px 6px #000000;
    text-align:center;
}

.nepal02{
    position: absolute;
    width:578px;
    height:217px;
    top:12175.5px;
    left:903.5px;
}

.nepal02 h1{
    font-family:HGPMinchoE;
    font-size:125px;
    font-weight:normal;
    text-align:center;
    color:#210C10;
    border: 2px 0px 0px #03050A;
    text-shadow: 0px 3px 6px #CE2E4E;
    margin:0;
}

.kathmandu02{
    position: absolute;
    width:413px;
    height:110px;
    top:12310.5px;
    right:206.5px;
}

.kathmandu02 h2{
    font-family:HGPMinchoE;
    font-size:75px;
    font-weight:normal;
    text-align:center;
    color:#210C10;
    border: 2px 0px 0px #091326;
    text-shadow: 0px 3px 4px #CE2E4E;
    margin:0;
}

.team01{
    position: absolute;
    width:413px;
    height:110px;
    top:12478.5px;
    left:247.5px;
}

.team01 p{
    font-size:45px;
    text-align:center;
    text-shadow:0px 3px 6px #000000;
    margin:0;
    z-index: 1000;
}

.team02{
    position: absolute;
    top:12478.5px;
    left:545px;
}

.team02 p{
    font-size:45px;
    text-align:center;
    text-shadow:0px 3px 6px #000000;
    margin:0;
}

.team03{
    position: absolute;
    top:12476.5px;
    left:621.5px;
}

.team03 p{
    font-size:45px;
    text-align:center;
    text-shadow:0px 3px 6px #000000;
    margin:0;
}

.team04{
    position: absolute;
    top:12425.5px;
    left:1131px;
}

.team04 p{
    font-size:45px;
    text-align:center;
    text-shadow:0px 3px 6px #000000;
    margin:0;
    padding-top:51.5px;   
}

.team05{
    position: absolute;
    top:12645.5px;
    left:323.5px;
    width:527px;
    height:309px;
}

.team05 p{
    font-size:40px;
    text-align: center;
}

.team06{
    position: absolute;
    top:12615.5px;
    right:266.5px;
    width:527px;
    height:168px;
}

.team06 p{
    font-size:40px;
    text-align: center;
    margin:0;
    padding-top:80px;
}

.title05{
    position: absolute;
    top:13050px;
    left:289px;
    width:1471px;
    height:317px;
}


.title05 p{
    font-size:100px;
    text-align: center;
    margin:0;
    font-family:HGPGothicM;
    border-left: 20px solid #3498db;
}

.subtitle01{
    position: absolute;
    top:13485px;
    left:200.5px;
    width:1588px;
    height:95px;
}

.subtitle01 p{
    font-size:70px;
   
    margin:0;
    border-bottom:solid 1px black;
}

.subtitle01 span{
    font-size:100px;
    text-align:left;
    color:#7BA8B9;
}

.sentence01{
    position: absolute;
    top:13652.5px;
    left:237.5px;
    width:1523px;
    height:646px;
    line-height:80px;
    padding-top:100px;
}

.sentence01 p{
    font-size:40px;
    text-align:center;
    color:#2E2E2E;
    text-shadow:0px 3px 6px #000000;
    margin:0;
}

.subtitle02{
    position: absolute;
    top:14417px;
    left:200px;
    width:1608px;
    height:121px;
   
}

.subtitle02 p{
    font-size:70px;
    margin:0;
    border-bottom:solid 1px black;
}

.subtitle02 span{
    font-size:100px;
    text-align:left;
    color:#7BA8B9;
}

.sentence02{
    position: absolute;
    top:14592.5px;
    left:237.5px;
    width:1523px;
    height:769px;
    line-height:80px;
    text-align:left;
    padding-top:100px;
}


.sentence02 p{
    font-size:40px;
    text-align:center;
    color:#2E2E2E;
    text-shadow:0px 3px 6px #000000;
    margin:0;
}

.subtitle03{
    position: absolute;
    top:15485px;
    left:165.5px;
    width:1629px;
    height:108px;
}

.subtitle03 p{
    font-size:70px;
    margin:0;
    border-bottom:solid 1px black;
}

.subtitle03 span{
    font-size:100px;
    text-align:left;
    color:#7BA8B9;
}

.sentence03{
    position: absolute;
    top:15665.5px;
    left:237.5px;
    width:1523px;
    height:769px;
    line-height:80px;
    text-align:left;
    padding-top:100px;
}

.sentence03 p{
    font-size:40px;
    text-align:center;
    color:#2E2E2E;
    text-shadow:0px 3px 6px #000000;
    margin:0;
}

.title06{
    position: absolute;
    top:16710px;
    left:246px;
    width:1471px;
    height:155px;
}

.title06 p{
    font-size:100px;
    text-align: center;
    margin:0;
    font-family:HGPGothicM;
    border-left: 20px solid #3498db;
}

.example01{
    position: absolute;
    top:16962px;
    left:144px;
    width:1654px;
    height:934px;
    background-color:rgb(162, 215, 236);
    opacity:0.8;
}

.jirei1{
    position: absolute;
    top:66.5px;
    left:93.5px;
    width:609px;
    height:91px;
}

.jirei1 h1{
    font-size:70px;
    color:#1137B7;
    margin:0;
}

.kaihatsu-naiyou{
    position: absolute;
    top:403.5px;
    left:140.5px;
    width:529px;
    height:79px;
    text-align: center;
    margin:0;
}

.kaihatsu-naiyou p{
    text-align:left;
    margin:0;
    font-size:50px
}

.web-service{
    position: absolute;
    top:249.5px;
    left:684.5px;
    width:769px;
    height:72px;
}

.web-service p{
    font-size:50px;
    margin:0;
    color:#2E2E2E;
}

.web-service-description{
    position: absolute;
    top:375.5px;
    left:615.5px;
    width:906px;
    height:265px;
}

.web-service-description p{
    text-align:center;
    font-size:50px;
    margin:0;
    color:#2E2E2E;
}

.kaihatsu-kankyou{
    position: absolute;
    top:768.5px;
    left:133.5px;
    width:529px;
    height:79px;
}

.kaihatsu-kankyou p{
    font-size:50px;
    margin:0;
    color:#2E2E2E;
}

.kaihatsu-kankyou-description{
    position: absolute;
    top:768.5px;
    left:669px;
    width:799px;
    height:60px;
}

.kaihatsu-kankyou-description p{
    font-size:50px;
    margin:0;
    text-align:center;
    color:#2E2E2E;
}

.example02{
    position: absolute;
    top:18093px;
    left:144px;
    width:1654px;
    height:1023px;
    background-color:rgb(240, 205, 227);
    opacity:0.8;
}

.jirei2{
    position: absolute;
    top:66.5px;
    left:93.5px;
    width:609px;
    height:91px;
}

.jirei2 h1{
    font-size:70px;
    color:#5D0A75;
    margin:0;
}

.web-service-description02{
    position: absolute;
    top:375.5px;
    left:615.5px;
    width:906px;
    height:265px;
}

.web-service-description02 p{
    text-align:center;
    font-size:40px;
    margin:0;
    color:#2E2E2E;
}

.title07{
    position: absolute;
    top:19482px;
    left:246px;
    width:1471px;
    height:155px;
}

.title07 p{
    font-size:100px;
    text-align: center;
    margin:0;
    font-family:HGPGothicM;
    border-left: 20px solid #3498db;
}

.QandA{
    position: absolute;
    top:19882px;
    left:415px;
    color:#2E2E2E;
    line-height:52px;
}

.QandA p{
    font-size:43px;
}

.QandA span{
    color:#7BA8B9;
}

.QandA :nth-of-type(even){
    border-bottom:solid 1px #707070;
}

.title08{
    position: absolute;
    top:21421.5px;
    left:246px;
    width:1471px;
    height:155px;
}

.title08 p{
    font-size:100px;
    text-align: center;
    margin:0;
    font-family:HGPGothicM;
    border-left: 20px solid #3498db;
}

.name{
    position: absolute;
    top:21732.5px;
    left:300px;
    font-size:40px;
}

.name p{
    margin:0;
}

.name input{
    width:591px;
    height:77px;
}

.company-name{
    position: absolute;
    top:21732.5px;
    right:300px;
    font-size:40px;
}

.company-name p{
    margin:0;
}

.company-name input{
    width:591px;
    height:77px;
}

.mail-address{
    position: absolute;
    top:21927.5px;
    left:300px;
    font-size:40px;
}

.mail-address p{
    margin:0;
}

.mail-address input{
    width:1320px;
    height:77px;
}

.message-form{
    position: absolute;
    top:22138.5px;
    left:300px;
    font-size:40px;
    margin:0;
}

.message-form p{
    margin:0;
}

.message-form input{
    width:1320px;
    height:358px;
}

footer img{
    position: absolute;
    top:22634px;
    left:514px;
    bottom:145px;
}