* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.header {
  font-family: Meiryo;
}

.header {
  width: 100%;
  height: 121px;
  border-bottom: solid 1px #707070;
  font-size: 16px;
  text-align: right;
  background-color: #ffffff;
}

.logo {
  float: left;
  height: 76.67px;
  margin-top: 16.6px;
}

.header li {
  display: inline-block;
  margin-top: 66px;
  padding-right: 19px;
}
.header a {
  color: #707070;
}

.contact p {
  font-size: 17px;
  background-color: #0071b2;
  padding: 12.5px 35px;
  border-radius: 30px;
  text-align: center;
  width: 208px;
}
.contact a {
  color: #ffffff;
}
.contact {
  position: fixed;
  bottom: 50px;
  left: calc(50% - 180px / 2);
}
body {
  width: 100%;
  padding-top: 121px;
}

.main {
  width: 1024px;
  margin: 0 auto 70px auto;
}

.campany-info {
  width: 1024px;
  height: 285px;
  background-image: url(img/campany-info.png);
  outline: 0 px;
}

.flex {
  display: flex;
  justify-content: space-between;
  width: 867px;
  margin: 70px auto 100px auto;
}

.flex > div {
}

.content {
  border: solid 1px #707070;
}

.vision-image {
  display: inline-block;
  width: 427px;
  height: 366px;
  background-image: url(img/vision.png);
  background-size: cover;
}

.content h3 {
  font-size: 19px;
  margin: 10px;
}

.content p {
  font-size: 17px;
  margin: 10px;
}

.greeting-image {
  display: inline-block;
  width: 427px;
  height: 366px;
  background-image: url(img/greeting.png);
  background-size: cover;
}

.history {
  text-align: center;
  margin: 0 auto;
}

.history h2 {
  font-size: 40px;
  display: inline-block;
  width: 185px;
  border-bottom: solid;
  border-width: 1px;
  padding-bottom: 25px;
}

table {
  font-size: 17px;
  margin: 0 auto 130px auto;
  text-align: left;
}
tr {
  border-bottom: solid 1px #707070;
}
.left {
  padding-left: 90px;
  line-height: 30px;
  padding: 30px 0 30px 90px;
}

.right {
  line-height: 30px;
  padding: 30px 256px 30px 100px;
}

.logo2 {
  vertical-align: middle;
  margin-bottom: 70px;
}

footer {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

.footer-link {
  display: inline-block;
  text-align: center;
}
.flex a {
  font-size: 16px;
  color: #707070 !important;
}

.footer-company {
  font-size: 16px;
  color: #707070 !important;
  margin: 90px 0 100px 0;
}
