* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.header {
  font-family: Meiryo;
}

.header {
  width: 100%;
  height: 121px;
  border-bottom: solid 1px #707070;
  font-size: 16px;
  text-align: right;
  background-color: #ffffff;
}

.logo {
  float: left;
  height: 76.67px;
  margin-top: 16.6px;
}

.header li {
  display: inline-block;
  margin-top: 66px;
  padding-right: 19px;
}
.header a {
  color: #707070;
}

.contact p {
  font-size: 17px;
  background-color: #0071b2;
  padding: 12.5px 35px;
  border-radius: 30px;
  text-align: center;
  width: 208px;
}
.contact a {
  color: #ffffff;
}
.contact {
  position: fixed;
  bottom: 50px;
  left: calc(50% - 180px / 2);
}
body {
  width: 100%;
  padding-top: 121px;
}

.history {
  width: 1135px;
  text-align: center;
  margin: 85px auto;
}

.history h2 {
  font-size: 57px;
  display: inline-block;
  width: 228px;
  border-bottom: solid;
  border-width: 1px;
  padding-bottom: 25px;
}

table {
  width: 1135px;
  font-size: 22px;
  margin: 100px auto 130px auto;
  text-align: left;
}
tr {
  border-bottom: solid 1px #707070;
}
.left {
  padding-left: 90px;
  line-height: 30px;
  padding: 30px 0 30px 90px;
}

.right {
  line-height: 30px;
  padding: 30px 256px 30px 100px;
}

.logo2 {
  vertical-align: middle;
  margin-bottom: 70px;
}

footer {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  border-top: solid 1px #707070;
  padding-top: 100px;
}

.footer-link {
  display: inline-block;
  text-align: center;
}
.flex a {
  font-size: 16px;
  color: #707070 !important;
}

.footer-company {
  font-size: 16px;
  color: #707070 !important;
  margin: 90px 0 100px 0;
}
